@import url('../../assets/fonts/Arial.woff2');
@import url('../../assets/fonts/Georgia.woff2');

*{
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth; 
}

a{
	text-decoration: none;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0px 40px;
}

.header__burger{
	display: none;
	align-self: center;
}

.btn-mrg{
	background: #F1CDB3;
	border-radius: 100px;
	height: 52px;

	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
}
.btn-mrg:hover{
	background: #FDDCC4;
}

.btn-yrg{
	border: 2px solid #F1CDB3;
	border-radius: 100px;

	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
}
.btn-yrg:hover{
	background: #F1CDB3;
}

.header-container{
	display: flex;
	justify-content: space-between;
	height: 120px;
}
.logo{
	height: 60px;
	z-index: 10;
	h1{
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 110%;
		color: #545454;;
		letter-spacing: 0.06em;
		margin: 0;
	}
	p{
		font-family: 'Arial';
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.1em;
		color: #292929;;
		margin: 0 0 0 4px;
	}
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.logo:hover{
	cursor: pointer;
}
.nav-menu{
	width: 443px;
	align-self: center;
}
.nav-items{
	list-style: none;
	display: flex;
	justify-content: space-between;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0;
	padding: 0;
}
.nav-item{
	a{
		color: #545454;;
	}
}
.nav-link.link-active{
	color: #292929;
	text-decoration: underline;
	text-decoration-color: #F1CDB3;
	text-decoration-thickness: 3px;
	text-underline-offset: 4px;
}
.nav-link:hover{
	color: #292929;
}

.header-container{
	height: 60px;
	position: absolute;
	margin: 0 auto;
  top: 30px; left: 0; bottom: 0; right: 0;
}

.main-container{
	margin-top: 120px;
	min-height: 1342px;
	background: #F6F6F6;
}

.pets{
	padding-top: 80px;
}
.pets-content{
	h3{
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: 130%;
		text-align: center;
		letter-spacing: 0.06em;
		color: #545454;
		width: 400px;
		margin: 0 auto;
	}
}

.card-container{
	min-height: 930px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	margin: 45px 0;
	padding: 15px 0;
}

.card{
	width: 270px;
	height: 435px;
	background: #FAFAFA;
	border-radius: 9px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.btn-slider-card{
	background: #fafafa;
}
.card:hover{
	cursor: pointer;
	box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
	.btn-slider-card{
		background: #FDDCC4;
		border: none;
	}
}
.card-ph{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
	margin: 30px 0;
}
.card-img{
	max-width: 270px;
	max-height: 270px;
}
.btn-slider-card{
	width: 187px;
	height: 52px;
	align-self: center;
}

.footer-bg{
	background: url(../../assets/images/footer-gradient-background.png) no-repeat;
	background-size: 100vw 100%;
	height: 350px;
}
.footer-container{
	padding-top: 40px;
}
.footer-content{
	width: 1200px;
	height: 310px;
	display: flex;
	justify-content: space-between;
	h3{
		margin: 0;
	}
}

.navigation{
	margin: 0 auto;
	width: 340px;
	display: flex;
	justify-content: space-between;
}
.once-right, .dbl-right{
	background-color: #fafafa;
}
.nav-btn{
	border-radius: 100px;
	width: 52px;
	height: 52px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	text-align: center;
	letter-spacing: 0.06em;
	color: #292929;
	padding-bottom: 4px;
	padding-left: 8px;
}
.inactive{
	color: #CDCDCD;
	border: 2px solid #CDCDCD;
	box-sizing: border-box;
	border-radius: 100px;
}


.footer-h4{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	margin: 0;
}

.footer-contacts, .footer-location{
	width: 278px;
	height: 234px;
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	h3{
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: 130%;
		letter-spacing: 0.059em;
		color: #FFFFFF;
	}
}
.footer-location{
	width: 304px;
}

.ft{
	a{
	display: flex;
	align-items: center;
	}
}
.fi{
	width: 40px;
	height: 32px;
	margin-right: 20px;
}
.fii{
	width: 22px;
	height: 32px;
	margin-right: 20px;
}

.page.nav-btn.btn-mrg:hover{
	background-color: #F1CDB3;
}
.page{
	border: none;
	cursor: not-allowed;
}

.infobar{
	display: flex;
	width: 66.666%;
	justify-content: space-between;
	padding-right: 5%;
}


.modal-box{
	display: none;
	background-color: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 100;
	top: 0;
}
.modal-box:hover{
	cursor: pointer;
}
.modal-window:hover{
	cursor: default;
}

.btn-modal{
	position: absolute;
	width: 52px;
	height: 52px;
	right: -47px;
	top: -50px;
	font-size: 0.8em;
	background: none; 
}

.modal-window{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	width: 900px;
	min-height: 500px;
	background-color: #fff;
	border-radius: 9px;
	transition: .3s;
	display: flex;
	justify-content: space-between;
	padding-right: 20px;

	.content{
		position: relative;
		max-width: 351px;
		height: 362px;
		top: 50px;

		h3{
			font-family: 'Georgia';
			font-style: normal;
			font-weight: 400;
			font-size: 35px;
			line-height: 130%;
			margin: 0;
			margin-bottom: 10px;
			letter-spacing: 0.06em;

			color: #000000;
		}
		h4{
			font-family: 'Georgia';
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 115%;
			margin: 0;
			letter-spacing: 0.06em;

			color: #000000;
		}
		h5{
			font-family: 'Georgia';
			font-style: normal;
			font-weight: 400;
			font-size: 15px;
			line-height: 110%;
			margin: 40px 0;
			letter-spacing: 0.06em;

			color: #000000;
		}
		li{
			font-family: 'Georgia';
			font-style: normal;
			font-size: 15px;
			line-height: 110%;
			/* identical to box height, or 17px */

			letter-spacing: 0.06em;

			color: #000000;
		}
		li::marker {
			color: #F1CDB3;
		}

		ul{
			margin: 0;
			padding-left: 17px;
			min-height: 102px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		
		}
	}
}
// .modal-window:hover{
// 	box-shadow: 0px 2px 35px 14px rgba(0, 0, 0, 0.24);
// }

.modal-img{
		max-width: 500px;
		max-height: 500px;
		width: 100%;
		height: auto;
		align-self: center;
		border-radius: 9px;
		overflow: hidden;

	img{
		width: 100%;
	}
}

@media (max-width: 1279px) {
	.card-container .card:nth-child(7), .card-container .card:nth-child(8){
		display: none;
	}
	.container{
		padding: 0 30px;
	}
	.pets-content{
		padding-top: 80px;
	}
	.main-container{
		padding-bottom: 76px;
	}
	.card-container{
		margin-top: 30px;
		padding-top: 0;
		gap: 30px 40px;
		justify-content: center;
		margin-bottom: 40px;
		padding-bottom: 0;
	}
	footer{
		min-height: 639px;
		background-size: 100% 100%;
	}
	.footer-container{
		height: 100%;
	}
	.footer-content {
    width: auto;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
		align-content: space-between;
		.footer-puppy{
			height: 310px;
		}
	}
	.infobar{
		padding: 0;
		width: 100%;
		justify-content: space-around;
	}


	.modal-window{
		max-width: 630px;
		min-height: initial;
		height: 350px;
		padding-right: 9px;

		.modal-img{
			max-height: 350px;

			img{
				width: 350px;
			}
		}
		.content{
			top: 10px;
			max-width: 260px;
			height: 303px;

			ul{
				min-height: 86px;
			}

			h5{
				margin: 20px 0;
				font-size: 13px;
			}
		}
	}

}

@media (max-width: 767px){
	.container{
		padding: 0 10px;
	}

	.nav-menu{
		display: none;
	}

	.main-container{
		padding-bottom: 42px;
	}
	
	.card-container .card:nth-last-child(-n+5){
		display: none;
	}

	.pets-content{
		padding-top: 42px;
		h3{
			font-size: 25px;
			width: 100%;
		}
		.navigation{
			min-width: 300px;
			width: initial;
		}
	}


	.footer-bg{
		height: auto;
	}
	.infobar{
		flex-wrap: wrap;
		margin-top: 30px;
	}
	.footer-content .footer-puppy{
		width: 260px;
		height: auto;
	}
	.footer-content{
		margin-top: 0;
	}
	.footer-location{
		margin: 40px 0;
	}

	.footer-contacts, .footer-location{
		height: initial;
		min-height: 208px;
		h3{
			font-size: 25px;
			text-align: center;
			padding: 0 10px;
		}
	}


	.before{
		display: none;
		width: 768px;
		height: 1024px;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 5;
		position: absolute;
		right: 328px;
	}
	.before.active{
		display: block;
	}
	.nav-menu{
		display: flex;
		width: 328px;
		height: 1024px;
		background-color: #292929;
		position: fixed;
		top: 0;
		right: -328px;
		z-index: 3;
		transition: 0.3s;
	}
	.nav-menu.active{
		display: flex;
		width: 328px;
		height: 1024px;
		background-color: #292929;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 3;
	}
	.header__burger.active{
		position: fixed;
		right: 60px;
	}
	.logo.active{
		position: fixed;
		height: 60px;
		right: 124px;
	}
	.nav-items{
		position: relative;
		display: flex;
		flex-direction: column;
		left: 39px;
		top: 248px;
		margin: 0;
		padding: 0;
		height: 327px;
		align-items: center;
		.nav-item{
			font-family: 'Arial';
			font-style: normal;
			font-weight: 400;
			font-size: 32px;
			line-height: 160%;
			color: #CDCDCD;
		}
	}


	.nav-link.link-active{
		color: #fff;
	}
	.header-container{
		padding-right: 18%;
	}
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
	}
		.header__burger{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 5;
		transition: all 0.3s ease 0s
	}
	.header__burger span{
		// position: absolute;
		background-color: #000;
		// left: 0;
		width: 100%;
		height: 2px;
		// top: 9px;
		transition: all 0.3s ease 0s;
	}
	// .header__burger span:nth-child(2){
	// 	top: calc(50% - 7px)
	// }
	// .header__burger span:nth-child(3){
	// 	top: calc(50% + 5px)
	// }
	.header__burger.active{
		transform: rotate(90deg);
	}




	.modal-window{
		width: 240px;
		height: auto;
		padding: 10px;
		.modal-img{
			display: none;
		}

		.content{
			top: 0;
			display: flex;
			height: auto;
			flex-direction: column;

			h3, h4{
				align-self: center;
				text-align: center;
			}
			h5{
				text-align: justify;
			}
		}

		.btn-modal{
			right: -30px;
		}
	}

}